In [1]:
import numpy as np
import pandas as pd
from collections import defaultdict

In [2]:
queries = pd.read_csv('queries.csv', sep='\t', index_col=False)
train = pd.read_csv('relevance_train.csv', sep='\t', index_col=False)
test = pd.read_csv('relevance_test.csv', index_col=False)
documents = pd.read_csv('Documents.csv', sep='\t', index_col=False)
sub = pd.read_csv('submission_example.csv')

In [3]:
train.head()

   QueryId  DocumentId  Relevance
0        1         184          2
1        1          29          2
2        1          31          2
3        1          12          3
4        1          51          3

In [4]:
test.head()

   QueryId  DocumentId
0      126         974
1      126        1326
2      126         187
3      126         969
4      126         970

In [5]:
relevancies_1337 = train.groupby('DocumentId')['Relevance'].mean().to_dict()
relevancies_1337 = defaultdict(int, relevancies_1337)

In [6]:
sub['Rel_1337'] = sub.DocumentId.apply(lambda d: -relevancies_1337[d])

In [7]:
answer = sub.sort_values(['QueryId', 'Rel_1337']).drop('Rel_1337', axis=1)

In [8]:
answer.to_csv('1337.csv', index=False)